<!DOCTYPE html>
{% extends "paper_mnnit/base.html" %}
  {% block body_block %}
  {% load static %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div  data-aos="fade-up" data-aos-delay="150">
          <h1>Books</h1>
        </div>

        <div class="wrapper">
          <div class="table">

              <div class="r header">
                <div class="cell">
                  Book Name
                </div>
                <div class="cell">
                  Link
                </div>
              </div>

              <div class="r">
                <div class="cell">
                 ED N.D. Bhatt
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1faRVkOhfXqLChqT6uRtL8HX0lqdh_p1c/view?usp=sharing">
                Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                 Design of Everyday Things
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1_615ECHhXGGh9SXXLKJJFC4roIjAviHR/view?usp=sharing">
                Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                 Basic Sketching
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1JN0rZRkI-WNLn3pTM4LuqvuSDkRtEnkv/view?usp=sharing">
                Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                 Engineering Drawing
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1GKssXxztQTUqunTv606hAGjpf5oe-5pI/view?usp=sharing">
                Download </a>
                </div>
              </div>

          </div>
        </div>
    </div>
  </section>
  {% endblock %}
