<!DOCTYPE html>
{% extends "paper_mnnit/base.html" %}
  {% block body_block %}
  {% load static %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div  data-aos="fade-up" data-aos-delay="150">
          <h1>Material</h1>
        </div>

        <div class="wrapper">
          <div class="table">

              <div class="r header">
                <div class="cell">
                  Topic
                </div>
                <div class="cell">
                  Link
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  ED Complete Notes
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1Ysns6xe_4IPn3blwtjKKZrm9pIVs7L0Z/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Screw,Thread & Nuts
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1uPNP7U32E388MH27h72IrXm_JVEFg4Yi/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Sectional Views
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1ZNHAhWy_eePKFbfX7HNiO9kSuVHxSDW-/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Isometric Drwaings
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1_-jxgxhYMWLEkDvdncaRJmXvxPdgK0WP/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  AUTO CAD Sheets
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1T8lJlnjDNnaVL9nOYR1etptb4SnYQ-0w/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Complete Threads
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1a_uwuOYUx1HAUnbJcz57WAxPcbtMP2G5/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  ED Lab Sheets
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1a4Sd6MZXf_PtTofVvKV2qWRE876uv3gj/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  ED Notes
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1DVI6uwkdoxLoT0kwQC7XNXEcGdxWQC7D/view?usp=sharing">
                  Download </a>
                </div>
              </div>

            </div>
        </div>
    </div>
  </section>
  {% endblock %}
