<!DOCTYPE html>
{% extends "paper_mnnit/base.html" %}
  {% block body_block %}
  {% load static %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div  data-aos="fade-up" data-aos-delay="150">
          <h1>Tutorial Sheets</h1>
        </div>

        <div class="wrapper">
          <div class="table">

              <div class="r header">
                <div class="cell">
                  Tutorial
                </div>
                <div class="cell">
                  Link
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Tut Sheets Combined(I)
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1xMU0DHfpKaJt_KgzknTsGDm4XSNFXKTx/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Tut Sheets Combined(II)
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/14n3rHPZXH891Ji96U8bxcogRCoI7NLVh/view?usp=sharing">
                  Download </a>
                </div>
              </div>
            </div>
        </div>
    </div>
  </section>
  {% endblock %}
