<!DOCTYPE html>
{% extends "paper_mnnit/base.html" %}
  {% block body_block %}
  {% load static %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div  data-aos="fade-up" data-aos-delay="150">
          <h1>Books</h1>
        </div>

        <div class="wrapper">
          <div class="table">

              <div class="r header">
                <div class="cell">
                  Book Name
                </div>
                <div class="cell">
                  Link
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Meriam Statics
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1MHBAtMsian9d1bV1c42rAp5A17rPGGUX/view?usp=sharing">
                Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Meriam Dynamics
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1iG_Z63QgZkBht0EDsNi_zxLltPDdkAyS/view?usp=sharing">
                Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Mechanics RS Khurmi
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1B65l9uwDxoFfNswyDqo739dNSJfNDbtt/view?usp=sharing">
                Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Mechanics LAB Viva Book
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1b8QtmyjfIkKlAkxIgpajfRtjZBMAT6nU/view?usp=sharing">
                Download</a>
                </div>
              </div>

            
          </div>
        </div>
    </div>
  </section>
  {% endblock %}
