<!DOCTYPE html>
{% extends "paper_mnnit/base.html" %}
  {% block body_block %}
  {% load static %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div  data-aos="fade-up" data-aos-delay="150">
          <h1>Notes</h1>
        </div>

        <div class="wrapper">
          <div class="table">

              <div class="r header">
                <div class="cell">
                  Topic
                </div>
                <div class="cell">
                  Link
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Complete Notes(I)
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1rIrtksOa72aQ5J50m3W9M_IphLNzjqta/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Complete Notes(II)
                </div>
                <div class="cell">
                  <a href="https://drive.google.com/file/d/1JBKp5N3uFKGDCGDruQL0n3pOzKU13XaC/view?usp=sharing">
                Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Notes of Forces
                </div>
                <div class="cell">
                  <a href="https://drive.google.com/file/d/1tYk2KmUNA3vFDUQfI0tZlhPjN2a6ImBX/view?usp=sharing">
                Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Beams Notes
                </div>
                <div class="cell">
                  <a href="https://drive.google.com/file/d/1UfUWsns2mILzw0fK08hOITMmf2BCC9R1/view?usp=sharing">
                Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Truss Notes
                </div>
                <div class="cell">
                  <a href="https://drive.google.com/file/d/1M63b6j4IIuNgPYdcRgTR4MipjHympIik/view?usp=sharing">
                Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Friction Notes(I)
                </div>
                <div class="cell">
                  <a href="https://drive.google.com/file/d/196fjdnTd1OLmgTDpcYijfLVgrSdEkPF_/view?usp=sharing">
                Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Friction Notes(II)
                </div>
                <div class="cell">
                  <a href="https://drive.google.com/file/d/13csSCh1yVpYXDcIXrj6LKvRdw7hP9dKY/view?usp=sharing">
                Download </a>
                </div>
              </div>


              <div class="r">
                <div class="cell">
                  Stress and Strain Notes
                </div>
                <div class="cell">
                  <a href="https://drive.google.com/file/d/1FV4vc38mKfcoqALhraizxE_XIysayEQt/view?usp=sharing">
                Download </a>
                </div>
              </div>


              <div class="r">
                <div class="cell">
                  Virtual Work Notes
                </div>
                <div class="cell">
                  <a href="https://drive.google.com/file/d/1k6CP6aOGprNNm8aQPZrnN1324kU0aQD7/view?usp=sharing">
                Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Dynamics Notes
                </div>
                <div class="cell">
                  <a href="https://drive.google.com/file/d/1tiV7DNDsrOfMPrWbnaKMIfY9vtroZjuZ/view?usp=sharing">
                Download </a>
                </div>
              </div>
          </div>
        </div>
    </div>
  </section>
  {% endblock %}
