<!DOCTYPE html>
{% extends "paper_mnnit/base.html" %}
  {% block body_block %}
  {% load static %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div  data-aos="fade-up" data-aos-delay="150">
          <h1>Notes</h1>
        </div>

        <div class="wrapper">
          <div class="table">

              <div class="r header">
                <div class="cell">
                  Topic
                </div>
                <div class="cell">
                  Link
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Climate Change(I)
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1UsFlF59fVS0SGGVQgvegdExSgc0Lh979/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Climate Change(II)
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1oY0g6lev6mn9MMNT4QxGt_qoUh0B4W8N/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Sustainable Development(I)
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1TD8U5NnjVTh25GaJCHzC02QqLSYq0zeF/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Sustainable Development(II)
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1SEU_QaumJvQDZHFNtYW-vRNCm32Fo57J/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Natural Resources(I)
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/18JeYj8Z4Q8fbduxbaX1YfUkwp9xUZH_u/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Natural Resources(II)
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1bYxsledj9TeftlY94l33e6aCrgP0Mc-M/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Complete Energy Resources
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1fvS773aRjuFsZakzx9T2-0Pk7-6YNVSo/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Environmental Challenges
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1fvS773aRjuFsZakzx9T2-0Pk7-6YNVSo/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Carbon Foot Print(I)
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1wT9UVH4cMLEYO_YljZtMYvbJblrwOKXh/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                    Carbon Foot Print(I)
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1Q5q8wlNzVz_df57nimb6wW8oZTiDnwnV/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Urban Carrying Capacity
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1NKuLjE5xmcVIcn3ccPI4lFX8HKakwRxO/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Mitigation and Adaptation
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1ufpURzmMy7_0X6GQMn8ch9US7hAu_77F/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              
          </div>
        </div>
    </div>
  </section>
  {% endblock %}
