<!DOCTYPE html>
{% extends "paper_mnnit/base.html" %}
  {% block body_block %}
  {% load static %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div  data-aos="fade-up" data-aos-delay="150">
          <h1>Papers</h1>
        </div>

        <div class="wrapper">
          <div class="table">

              <div class="r header">
                <div class="cell">
                  Papers
                </div>
                <div class="cell">
                  Link
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Papers
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1RLAz4frI18Qn5orsybpC0UjYBcojUBvw/view?usp=sharing">
                  Download</a>
                </div>
              </div>


          </div>
        </div>
    </div>
  </section>
  {% endblock %}
