<!DOCTYPE html>
{% extends "paper_mnnit/base.html" %}
  {% block body_block %}
  {% load static %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div  data-aos="fade-up" data-aos-delay="150">
          <h1>Important PDFs</h1>
        </div>

        <div class="wrapper">
          <div class="table">

              <div class="r header">
                <div class="cell">
                  Topic
                </div>
                <div class="cell">
                  Link
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  OTEC
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1niVF94PB_RJil3Ca3gw5T44x0stVyO9i/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  SEIA
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1MdLI7RHWkQl7M00Lo0UVQMvZRJp29qFi/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Case Studeis(Energy)
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1H3k1MjhfebXb2nvh_BolJ8f-yngYrAEp/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Pollution
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1IREWwnawr13smElCeR8U5WBbj-CCxUHx/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Internatioal Treaties(I)
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1CqR4NAEa4II32cPYky48iqaKMde5myzD/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                    Internatioal Treaties(II)
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1oN_Y0-AuSb3JjGLke6t90HFEiuKjtMYU/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Natural Resources
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1XdbGMmJxCsBT0gh75gXDf-aNpmtnD9eN/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Environmental Challenges
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1DHc20Y6DpJzZ4h70HxmZk3j1g26ajEOM/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Carrying Capacity
                </div>
                <div class="cell">
                  <a href="https://drive.google.com/file/d/1hkl7CAwkkRspBwwMIq_FY2m9sVaaButH/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Global Concerns
                </div>
                <div class="cell">
                  <a href="https://drive.google.com/file/d/1EjrrEm6PskbvLohMtSubSVbHoohyR718/view?usp=sharing">
                  Download</a>
                </div>
              </div>
          </div>
        </div>
    </div>
  </section>
{% endblock %}
