<!DOCTYPE html>
{% extends "paper_mnnit/base.html" %}
  {% block body_block %}
  {% load static %}


<link href="{% static "css/main_files/about.css" %}" rel="stylesheet">

<main role="main">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
       <img src="{% static "images/bg-image.jpg" %}" width="40" height="50" alt="" loading="lazy">
      </div>
    </div>
  </div>

<!-- ABOUT TEAM MEMBERS-->
  <div class="container about">
      <section id="hero" class="d-flex align-items-center justify-content-center">
        <div  class="container"  data-aos="fade-up">
          <section id="about" class="about">
            <div class="container" data-aos="fade-up">
              <div class="row">

                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-right" data-aos-delay="100">
                  <img src="{% static "images/my.jpg" %}" class="img-fluid" alt="" style="width:306; max-width:70%">
                </div>

                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-left" data-aos-delay="100">
                    <h1 style="padding: 40px 0  ; font-size: 50px; font-weight: 600">Vaibhav Agarwal</h1>
                    <h2 style ="margin: 10px 0 40px 0"> B.TECH , 1st YEAR</h2>
                    <h4 >Hello !! This is the tiny part of the web that I call my own.</h4>
                    <h4>Hope you liked it.</h4>
                    <h4>It's an initiative for First Year students of Motilal Nehru National Institute of Technology.</h4>
                    <h4> I would like to thank everyone who have contributed to this site in any way.</h4>
                    <h4>I would love to hear suggestion from you . </h4>
                  </div>

              </div>

            </div>
          </section>
        </div>
      </section>
   </div>

    <!--  <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Vaibhav Agrawal</h2>
        <h5> Civil Engineering, B.Tech </h5>
        <p>about ghghhghhghghhghhh.</p>
      </div>-->
</main>

{% endblock %}
