<!DOCTYPE html>
{% extends "paper_mnnit/base.html" %}
  {% block body_block %}
  {% load static %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div  data-aos="fade-up" data-aos-delay="150">
          <h1>Tutorial Sheets</h1>
        </div>

        <div class="wrapper">
          <div class="table">

              <div class="r header">
                <div class="cell">
                  Tutorial Sheets
                </div>
                <div class="cell">
                  Link
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Tut Sheets Combined (I)
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1Wbwg14k5SJXLTDnwQt1hMhuIgn3XMZz8/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                    Tut Sheets Combined (II)
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1jhbDsp4u6Wjka1oyaGRbp7im5tm70Pm3/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                    Tut Sheets Combined (III)
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1sXkoum5FxWYOYObCHspnEsUoMyC-Kqgl/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Tuorial Sheets Solutions
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1M-ehT7Mf1Y2e7PbUtUMo6ydQ2DYk2zll/view?usp=sharing">
                  Download</a>
                </div>
              </div>
          </div>
        </div>
    </div>
  </section>
  {% endblock %}
