<!DOCTYPE html>
{% extends "paper_mnnit/base.html" %}
  {% block body_block %}
  {% load static %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div  data-aos="fade-up" data-aos-delay="150">
          <h1>Notes</h1>
        </div>

        <div class="wrapper">
          <div class="table">

              <div class="r header">
                <div class="cell">
                 Mathematics Notes
                </div>
                <div class="cell">
                  Link
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Fourier Transform
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1mGEXxjmWbFU4xxcJGbSdIAaKFlZ3-tvU/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Vector Space
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1WbEG7mivRWeMxcdH2MFoQUPecQJLt_Vv/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Eigen Values and Vectors
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1AU3QHXhKwd4NFbKV-KiSADSLTyZfsT93/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Laplace Transform
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1Re278Pl5Ixu5U3580MdFrvoKXcpj40ZE/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Matrix Theory
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1swMDbN0zIMvflt9cO4A4euUv8Vka1y5d/view?usp=sharing">
                  Download</a>
                </div>
              </div>
          </div>
        </div>
    </div>
  </section>
  {% endblock %}
