<!DOCTYPE html>
{% extends "paper_mnnit/base.html" %}
  {% block body_block %}
  {% load static %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div  data-aos="fade-up" data-aos-delay="150">
          <h1>Books</h1>
        </div>

        <div class="wrapper">
          <div class="table">

              <div class="r header">
                <div class="cell">
                  Book Name
                </div>
                <div class="cell">
                  Link
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Jain and Iyenger Parts
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1hSJyj31xtPuRkznpBUTs0lME1diYEB0D/view?usp=sharing">
                 Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Fourier Series
                </div>
                <div class="cell">
                  <a href="https://drive.google.com/file/d/17PgBlejHrc7Tk7aj15aQ8KLqP4Uei_an/view?usp=sharing">
                    Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Laplace Transformation
                </div>
                <div class="cell">
                  <a href="https://drive.google.com/file/d/1GGN7OCwOFgrp61cwhAYUCbOCswOIWCj_/view?usp=sharing">
                    Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Matrices & Eigen Values
                </div>
                <div class="cell">
                  <a href="https://drive.google.com/file/d/1eSqGYwCVsZO4nySlLDND8eXXQ3dkNIMQ/view?usp=sharing">
                    Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Partial Diffential Eq.
                </div>
                <div class="cell">
                  <a href="https://drive.google.com/file/d/16TcAr_F0NUN8HP-49pPWJX3-Y8v5sgab/view?usp=sharing">
                    Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  H.K. Das
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1-9xrcQKHBqJxZcUmJAMZEdVjM9ghV6fZ/view?usp=sharing">
                Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  B.S. Gerwal
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1rzQMBI17k3FXxzDmoETqlLk2ayMlRUGK/view?usp=sharing">
                Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Erwin Kryszig
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1nS4WRr_wEawntW4sw9t3nKZaR7nE_Hio/view?usp=sharing">
                Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Higher Engineering Mathematics
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1xYyQ-w6xISyOVhrcNjHgQgZ2m5VrBKg3/view?usp=sharing">
                Download</a>
                </div>
              </div>
          </div>
        </div>
    </div>
  </section>
  {% endblock %}
