<!DOCTYPE html>
{% extends "paper_mnnit/base.html" %}
  {% block body_block %}
  {% load static %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div  data-aos="fade-up" data-aos-delay="150">
          <h1>Notes</h1>
        </div>

        <div class="wrapper">
          <div class="table">

              <div class="r header">
                <div class="cell">
                 Physics Notes
                </div>
                <div class="cell">
                  Link
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Electrostatics(I)
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/12Fcp0mwJPV2QSwU1I6oDggPoRHangFtZ/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Electrostatics(II)
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1kZqPUY_xpVp7JatQ23pGrZcR6WjsiX96/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Magnetostatics(I)
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/19PludE623UN86nbzzgKk_j-NjVQaNj51/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Magnetostatics(II)
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/16Cg5VvZYoDC_dFB11rVNGh6TpvcL5Y3o/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Solid State
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1aRIM6N6FxfpKJD0kLTMhS-O8Nq0CnxYJ/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Quantum Physics
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1Fmk0Unc0PZ4lrkumetca5NCTT96q-jDD/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Electrodynamics And Wave
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1SoB7wT2-xHPKcmZmCF-PeqIr_0_ZnMxB/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Magnetic Properties of Materials
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1VS6XOF_m-gCOh8k_FbKlb5pTpedvfHPb/view?usp=sharing">
                  Download </a>
                </div>
              </div>
          </div>
        </div>
    </div>
  </section>
  {% endblock %}
