<!DOCTYPE html>
{% extends "paper_mnnit/base.html" %}
  {% block body_block %}
  {% load static %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div  data-aos="fade-up" data-aos-delay="150">
          <h1>Books</h1>
        </div>

        <div class="wrapper">
          <div class="table">

              <div class="r header">
                <div class="cell">
                  Book Name
                </div>
                <div class="cell">
                  Link
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Griffiths (New Edition)
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1r3V5xfbv4C1MGQrgO_NUxTge2a_nhVq1/view?usp=sharing">
                 Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Griffiths (Old Edition)
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1X2cxRT7CGXMd8LB7CWhuMldFdUbsxG_c/view?usp=sharing">
                 Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Griffiths Solutions
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1ltWb5Rh1nE2-wqxXK3KP7YoSfY0PNljW/view?usp=sharing">
                 Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Modern Physics Bieser
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1hBLtzThPeQBaBWmO7xCDSbJAA-oxPo3a/view?usp=sharing">
                 Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
              Quantum Physics (By Robert Einsberg)
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1O8KiJCX2i_vkOxQQiPj_N7-fP6D-8Rtd/view?usp=sharing">
                 Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  M Kumar(Solid State)
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1t8ph4EQOIC7r3CFBK4bDJbeD7azcBQMJ/view?usp=sharing">
                 Download</a>
                </div>
              </div>
          </div>
        </div>
    </div>
  </section>
  {% endblock %}
