<!DOCTYPE html>
{% extends "paper_mnnit/base.html" %}
  {% block body_block %}
  {% load static %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div  data-aos="fade-up" data-aos-delay="150">
          <h1>Tutorial Sheets</h1>
        </div>

        <div class="wrapper">
          <div class="table">

              <div class="r header">
                <div class="cell">
                  Tutorial Sheets
                </div>
                <div class="cell">
                  Link
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Vectors
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/14LZUV3whyP3NBXaAkuLMkb6mkcqe2KUh/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Solid State
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1EHcfBcwdBBgfHGOWsrVO_Vap3c1UJtIb/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Electrostatics
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1tjE3S9GPKgMZtLJzE07_gbOP_jcEKt6e/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Electrodynamics
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1rChkDvlYUzuFM966QQfoGhiVOEXSar-N/view?usp=sharing">
                  Download</a>
                </div>
              </div>

          </div>
        </div>
    </div>
  </section>
  {% endblock %}
