<!DOCTYPE html>
{% extends "paper_mnnit/base.html" %}
  {% block body_block %}
  {% load static %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div  data-aos="fade-up" data-aos-delay="150">
          <h1>Notes</h1>
        </div>

        <div class="wrapper">
          <div class="table">

              <div class="r header">
                <div class="cell">
                  Topic
                </div>
                <div class="cell">
                  Link
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Complete Notes
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1MfLAA46Fw8GAswwIfXpLbAFO-Q6xHRi-/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Laser Notes
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1MNbVXk0KTP86elxIJfpbbr5nSIytcr2L/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Thermal Physics Notes
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1tHJCTQ3SztKBCEU57ZU7rIZ1XqugBEaL/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Physics Lab Manual
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1WJdb5r_Lsh9WkbxuJBzWpBxBCtG75Okr/view?usp=sharing">
                  Download</a>
                </div>
              </div>

          </div>
        </div>
    </div>
  </section>
  {% endblock %}
