<!DOCTYPE html>
{% extends "paper_mnnit/base.html" %}
  {% block body_block %}
  {% load static %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div  data-aos="fade-up" data-aos-delay="150">
          <h1>Books</h1>
        </div>

        <div class="wrapper">
          <div class="table">

              <div class="r header">
                <div class="cell">
                  Book Name
                </div>
                <div class="cell">
                  Link
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Optics- Ajoy Ghatak
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1_WMnxfQTUbBYLU3QBRYrW1bhYNntqNEu/view?usp=sharing">
                Download
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Optics- Brijlal Subrimanyam
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/16kTNaiMCxIQ83EJjSODDQ0Whl32ScAXj/view?usp=sharing">
                Download
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Relativity -Resnick
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1dMzHJlQOPBy_kjymMLRqnX_B1eJ6qxw7/view?usp=sharing">
                Download
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Engineering Physics
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1M27RH-UKC_PPJM9eMpcnuw-Hj80zbxF-/view?usp=sharing">
                Download
                </div>
              </div>

          </div>
        </div>
    </div>
  </section>
  {% endblock %}
