<!DOCTYPE html>
{% extends "paper_mnnit/base.html" %}
  {% block body_block %}
  {% load static %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div  data-aos="fade-up" data-aos-delay="150">
          <h1>Tutorial Sheets</h1>
        </div>

        <div class="wrapper">
          <div class="table">

              <div class="r header">
                <div class="cell">
                  Tutorial
                </div>
                <div class="cell">
                  Link
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Optics Tut
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/14FK55lcLkGHGG9o-iXczqkmCnG6_Ec-Y/view?usp=sharing">
                    Download
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Relativity Tut
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1rz0M0lVAAT13rPD-Sau7PvOgMzjFXc-p/view?usp=sharing">
                    Download
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Thermal Tut
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1aTc9m7LHj94YKb43uNft9BYKVyHzBH7G/view?usp=sharing">
                    Download
                </div>
              </div>

          </div>
        </div>
    </div>
  </section>
  {% endblock %}
