<!DOCTYPE html>
{% extends "paper_mnnit/base.html" %}
  {% block body_block %}
  {% load static %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div  data-aos="fade-up" data-aos-delay="150">
          <h1>Notes</h1>
        </div>

        <div class="wrapper">
          <div class="table">

              <div class="r header">
                <div class="cell">
                  Topic
                </div>
                <div class="cell">
                  Link
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Complete Notes
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1_HuALpEbGjxepsgCcHUu9x282IDpr8zr/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Chemical Bonding
                </div>
                <div class="cell">
                  <a href="https://drive.google.com/file/d/1vsHKAhxrTnh6dK_4dAckY-gVVmHKjhQ2/view?usp=sharing">
                Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Water Chemistry
                </div>
                <div class="cell">
                  <a href="https://drive.google.com/file/d/1GaBCX3wWhLlj9Z_N2iiF0Rwr4IpsFk7g/view?usp=sharing">
                Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Lubricants
                </div>
                <div class="cell">
                  <a href="https://drive.google.com/file/d/1vj-6uR_ShDz3xrS1v6xlFgxsdnArxitJ/view?usp=sharing">
                  Download</a>
                </div>
              </div>
              <div class="r">
                <div class="cell">
                  Green Chemistry
                </div>
                <div class="cell">
                  <a href="https://drive.google.com/file/d/1KgiRIj7M5S7cIfLTBUpLENT1OYT5Uds-/view?usp=sharing">
                  Download</a>
                </div>
              </div>
              <div class="r">
                <div class="cell">
                  Fuels And Combustion
                </div>
                <div class="cell">
                  <a href="https://drive.google.com/file/d/17zWiqZQ-stKO-YAIS9HqT0foGt3XG2Tl/view?usp=sharing">
                  Download</a>
                </div>
              </div>
              <div class="r">
                <div class="cell">
                  Polymers
                </div>
                <div class="cell">
                  <a href="https://drive.google.com/file/d/1OY2w7XXaHUxkYuyMoMm3wM7Q08ZzFl5d/view?usp=sharing">
                  Download</a>
                </div>
              </div>
              <div class="r">
                <div class="cell">
                  Corrosion
                </div>
                <div class="cell">
                  <a href="https://drive.google.com/file/d/1W-2gQigzkI6vjH3GoBlr5X19QiEGYIwK/view?usp=sharing">
                  Download</a>
                </div>
              </div>
          </div>
        </div>
    </div>
  </section>
  {% endblock %}
