<!DOCTYPE html>
{% extends "paper_mnnit/base.html" %}
  {% block body_block %}
  {% load static %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div  data-aos="fade-up" data-aos-delay="150">
          <h1>Books</h1>
        </div>

        <div class="wrapper">
          <div class="table">

              <div class="r header">
                <div class="cell">
                  Book Name
                </div>
                <div class="cell">
                  Link
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Chemistry by Jain and Jain
                </div>
                <div class="cell" >
                <a href = "https://drive.google.com/file/d/1YRK5xPFdfktUmdPdcGU0Akkx2QWaNYcZ/view?usp=sharing">
                Download </a>
                </div>
              </div>


          </div>
        </div>
    </div>
  </section>
  {% endblock %}
