<!DOCTYPE html>
{% extends "paper_mnnit/base.html" %}
  {% block body_block %}
  {% load static %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div  data-aos="fade-up" data-aos-delay="150">
          <h1>Tutorial Sheets</h1>
        </div>

        <div class="wrapper">
          <div class="table">

              <div class="r header">
                <div class="cell">
                  Tutorial
                </div>
                <div class="cell">
                  Link
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Lubricants Tut
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1WQt-uQmLT6C549cYTXWFhowaNd6dbJ-P/view?usp=sharing">
                  Download
                </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Polymers Tut
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1IBvc0SqTompu6m74W3yc7hrjXZsnsjwj/view?usp=sharing">
                  Download
                </a>
                </div>
              </div>


              <div class="r">
                <div class="cell">
                  Water Chemistry Tut
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1wFDH3cK130_YxxpfF2Oeebn3SZAvw83k/view?usp=sharing">
                  Download
                </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Phase Tut
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1ebrG5mo2yazSRAjIuMwHwP0IN6hXaOmf/view?usp=sharing">
                  Download
                </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Chemical Bonding Tut
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1DULsNgMZH88kpyZkAnY24gxPt55SAvgW/view?usp=sharing">
                  Download
                </a>
                </div>
              </div>
          </div>
        </div>
    </div>
  </section>
  {% endblock %}
