<!DOCTYPE html>
{% extends "paper_mnnit/base.html" %}
  {% block body_block %}
  {% load static %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div  data-aos="fade-up" data-aos-delay="150">
          <h1>Notes</h1>
        </div>

        <div class="wrapper">
          <div class="table">

              <div class="r header">
                <div class="cell">
                  Topic
                </div>
                <div class="cell">
                  Link
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  BFIR Model
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1MKtbO0_VOPvNAK_SSBCZETh3Eb3toF4J/view?usp=sharing">
                    Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Listening Skills
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1UPx3SNAQ5dF9S-7ZYb2FY6di6EI6KMAS/view?usp=sharing">
                    Download </a>
                </div>
              </div>
              <div class="r">
                <div class="cell">
                  Feedback in CSW
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1d7NtFRO4bT1QusD9OCTqJFnC5lRgWpN2/view?usp=sharing">
                    Download </a>
                </div>
              </div>
              <div class="r">
                <div class="cell">
                  Group Discussion
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1ooCrX737kDMuRctbFApWNJ9mxU5uXffP/view?usp=sharing">
                    Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Resume and Letter Writing
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1czxR4dAaUudd_wYHYcTIr7QkpejXh4SC/view?usp=sharing">
                    Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Technical Communication
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1L8awdC_44FZTdm2SxIfxR-DZeQa4pq0s/view?usp=sharing">
                    Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Non Verbal Communication
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1YYqHBUheSQZI293SuQo1VLsIp5PP9lpd/view?usp=sharing">
                    Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Communication Notes (I)
               </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1HAdnqsebit81tzNV5cIiOjUhZg1aaMMq/view?usp=sharing">
                    Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Communication Notes (II)
               </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1FaHMa63-TgJtjQSn0DGg-Sv-3fL778LB/view?usp=sharing">
                    Download </a>
                </div>
              </div>
          </div>
        </div>
    </div>
  </section>
  {% endblock %}
