<!DOCTYPE html>
{% extends "paper_mnnit/base.html" %}
  {% block body_block %}
  {% load static %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div  data-aos="fade-up" data-aos-delay="150">
          <h1>English Literatue</h1>
        </div>

        <div class="wrapper">
          <div class="table">

              <div class="r header">
                <div class="cell">
                  Topic
                </div>
                <div class="cell">
                  Link
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Mending Wall
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1wk74lScwMN1AGSHD6--Oe3_9DwvVYhhz/view?usp=sharing">
                Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                My Grandmother House
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1wbIz0tzWtVaJhixqX1a6YSJN_ejMaK2A/view?usp=sharing">
                Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                My Lost Dollar
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/15VYWQ-v29wjDc7TDlrUZAcMe998HnwnM/view?usp=sharing">
                Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Sparrows
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1HPiQr4oGnYcKWWSj95oUzL38P7sLKuu_/view?usp=sharing">
                Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Shooting an Elephant
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1qPaBg_zviAjjkMsYIHSZg2vV-KYtb8Og/view?usp=sharing">
                Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                The Dinner Party
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1JnqDtRPR041xwUGqUXm6HdpW6HdxgxwG/view?usp=sharing">
                Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Night of Scorpion
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1zTUFx3okrkp86oZaPIAz1a8g3aDYfsi5/view?usp=sharing">
                Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                The Last Leaf
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1oT-9UDrSLxbKN87jHTvuLunwZaRUp7wm/view?usp=sharing">
                Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Function of Education
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1ZnXURWskcZBthZYqErJyajSLrHDH5uUW/view?usp=sharing">
                Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Father Returning Home
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1hL_rJ5yfyrJ9SDdaAFzA3yO_-RLBb-Q6/view?usp=sharing">
                Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Courtship Through Ages
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1Iw2Ik-GumY92PBZjVfe3qyP81YW1VpHw/view?usp=sharing">
                Download </a>
                </div>
              </div>
          </div>
        </div>
    </div>
  </section>
  {% endblock %}
