<!DOCTYPE html>
{% extends "paper_mnnit/base.html" %}
  {% block body_block %}
  {% load static %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div  data-aos="fade-up" data-aos-delay="150">
          <h1>English Language</h1>
        </div>

        <div class="wrapper">
          <div class="table">

              <div class="r header">
                <div class="cell">
                  Topic
                </div>
                <div class="cell">
                  Link
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Affix
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1y4zhHNFasbp-hyUrBOM7soaVj4tNxrAP/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Foreign Expression
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1V1qHUe02choDnALH--I0sbuyiyDOJaHw/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Idioms
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1Dn2v3BSEnGdbUK1eTwJCfrYJHghClGxP/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  One Word Substitue
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1SwDK49tRQYWZvQHMBkS0g26oeWzQVmvp/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Subject Verb Agreement
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1J1G9CfBjJOnNGeIRsHeR5VlpCqUq4G1p/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Question Formation
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1SAuwyOVJSNLQfx5rWTTqzDfuyCErKqQs/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Preposition
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1Xp7PC8g5FqvTChlZH-lar_1Q-myNuauN/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Homonyms And Homophones
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1jnE9-EFkcuZEK0VakOWEWjn2VwW6IK0K/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Lab File
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1gYZ8VmtBRTmrxodL2jzL3iVQRFuFg-Mv/view?usp=sharing">
                  Download </a>
                </div>
              </div>

          </div>
        </div>
    </div>
  </section>
  {% endblock %}
