<!DOCTYPE html>
{% extends "paper_mnnit/base.html" %}
  {% block body_block %}
  {% load static %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div  data-aos="fade-up" data-aos-delay="150">
          <h1>Notes</h1>
        </div>

        <div class="wrapper">
          <div class="table">

              <div class="r header">
                <div class="cell">
                  Topic
                </div>
                <div class="cell">
                  Link
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Sequence And Series
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1vmfzctasFRgzhw8crA09IZBtmjQUveDI/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Multiples Integral
                </div>
                <div class="cell">
                  <a href="https://drive.google.com/file/d/160YMMouRaq04TMiLNvqLatgXO2vQPSY3/view?usp=sharing">
                Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  ODE
                </div>
                <div class="cell">
                  <a href="https://drive.google.com/file/d/1KVmCBpM9R8ZlShNsZUNayQ_qRFQ1r_mw/view?usp=sharing">
                Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Beta and Gamma Functions
                </div>
                <div class="cell">
                  <a href="https://drive.google.com/file/d/14ID_kmUAK_zP80czKW5l36TWfATn7Dtf/view?usp=sharing">
                Download</a>
                </div>
              </div>
          </div>
        </div>
    </div>
  </section>
  {% endblock %}
