<!DOCTYPE html>
{% extends "paper_mnnit/base.html" %}
  {% block body_block %}
  {% load static %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div  data-aos="fade-up" data-aos-delay="150">
          <h1>Workshop Lab</h1>
        </div>

        <div class="wrapper">
          <div class="table">

              <div class="r header">
                <div class="cell">
                  Labs
                </div>
                <div class="cell">
                  Link
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Lab Manual
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1Kn4BYIEyzSvvS2lCLRBApQIwTGrowURU/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Full Lab Manual Solutions
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1PI3vXMmXZaSEffByPS5Z22RNMxPpEQRC/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Different Shops Brief
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1GC_sQBxonbtuRzITtmXockOxrNNWrUye/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Welding Shop
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1RV5dnAnFIhLB4aGCvXAw83oSsIUIEXCL/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Smithy Shop
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1ZxrHuY6RE0q4DlADVE-8jtF6tgQ8Qe5N/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                Sheet Metal Shop
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1rgCbq6KZCRAM6dsThqwFdqsO0U76j4Ji/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
              Foundary Shop
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1SUwwzAB7Hshpl0AXB9XCsTaaMNA1dlZS/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
              Fitting Shop
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1SoWpHNBP_2ySHDrYpxSVms3hnVBycGIs/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
              Carpentary
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/12QeAm4Ed08rtFScU8d5HD8scuoLA2-CH/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
              Blacksmithy Shop
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1ZYCYuKRYe8rxeN3lidznVZX99eUrcqVM/view?usp=sharing">
                  Download</a>
                </div>
              </div>
          </div>
        </div>
    </div>
  </section>
  {% endblock %}
