<!DOCTYPE html>
{% extends "paper_mnnit/base.html" %}
  {% block body_block %}
  {% load static %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div  data-aos="fade-up" data-aos-delay="150">
          <h1>Notes</h1>
        </div>

        <div class="wrapper">
          <div class="table">

              <div class="r header">
                <div class="cell">
                  Topic
                </div>
                <div class="cell">
                  Link
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Workshop Complete Notes(I)
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1TZKZMRJ_01Vfd-5T59QoR_RmDyDGnbon/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Workshop Complete Notes(II)
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/11bnVr_Wr_LJqijjtgdRunIpBdUbi6j0d/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Workshop Complete Notes(III)
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1FO9XYnSnfzVB0yRYkI-42aZtj_GNmNHj/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Workshop Complete Notes(IV)
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1QTk8SQA_8MCSlIsRSMm4FRcsmrwsNW6N/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Some Important Pages
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1CIokJuFaaWRyGi8giBqWuke9Wm2N02gE/view?usp=sharing">
                  Download</a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Lathe Machine
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1cXG5wpthekNOknPnegkZB9SisXGIzqvL/view?usp=sharing">
                  Download</a>
                </div>
              </div>
          </div>
        </div>
    </div>
  </section>
  {% endblock %}
