<!DOCTYPE html>
{% extends "paper_mnnit/base.html" %}
  {% block body_block %}
  {% load static %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div  data-aos="fade-up" data-aos-delay="150">
          <h1>Lab Assignments</h1>
        </div>

        <div class="wrapper">
          <div class="table">

              <div class="r header">
                <div class="cell">
                  Assignments
                </div>
                <div class="cell">
                  Link
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Lab Assignment 1
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/15b8Cdd8kMMKXFKEGTG1Ke6b_aeYYHrxc/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Lab Assignment 2
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1eMpe8w8_dWqtBV2szVO7JlE3fyP7XJSL/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Lab Assignment 3
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1M2uQW7Dp5q93sjNxo2FgrZat4l6Xk7d0/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Lab Assignment 4
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1V4U7eSg26zANE6-fAZ8QwEs06zvaNtqa/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Lab Assignment 5
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1lRm-4ZC2Ggu8sWEqiMgAbeQi4YcM4DXp/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Lab Assignment 6
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1I3lI8LwyCw0VgDm73UB846t1o-YIA8zm/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Lab Assignment Combined
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/13zFmT9i7fliLeX2xdMQijGXG39wK8igc/view?usp=sharing">
                  Download </a>
                </div>
              </div>


          </div>
        </div>
     </div>
   </section>
  {% endblock %}
