<!DOCTYPE html>
{% extends "paper_mnnit/base.html" %}
  {% block body_block %}
  {% load static %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div  data-aos="fade-up" data-aos-delay="150">
          <h1>Books</h1>
        </div>

        <div class="wrapper">
          <div class="table">

              <div class="r header">
                <div class="cell">
                  Book Name
                </div>
                <div class="cell">
                  Link
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  C in Depth
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1INlWWi9NBzHa0P4Z14fjyJCDxtPM5KKa/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Let us C
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1YMJM3K18phodvr0TuKr2VypdjyraCzMv/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  C Programs with Solutions
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1577T-bBqMLlkhlnqyUE3pIIyM7liCXfi/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Python Crash Course
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1El99wH8dCb2vQ9fruDvc3ZqRjV72FHmW/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Linux Commands
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1RHPMnBE-ghmTNBzL1URUu_fO5H9syTFl/view?usp=sharing">
                  Download </a>
                </div>
              </div>
          </div>
        </div>
    </div>
  </section>
  {% endblock %}
