<!DOCTYPE html>
{% extends "paper_mnnit/base.html" %}
  {% block body_block %}
  {% load static %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div  data-aos="fade-up" data-aos-delay="150">
          <h1>Notes</h1>
        </div>

        <div class="wrapper">
          <div class="table">

              <div class="r header">
                <div class="cell">
                  Topic
                </div>
                <div class="cell">
                  Link
                </div>
              </div>

              <div class="r">
                <div class="cell">
                  Array Notes
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1_qvf6pI7aFDtsNL-IeIkjRzXoS_m2SUO/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                   2D Array Notes
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/10tzCL2RYEfNeOYGpmr6QYcmS8OTiCwV6/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                   Pointer Notes
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1ZxElV3luzc0gaOqC8x_NKxG5gycMELPH/view?usp=sharing">
                  Download </a>
                </div>
              </div>

              <div class="r">
                <div class="cell">
                   Structure Notes
                </div>
                <div class="cell" >
                  <a href="https://drive.google.com/file/d/1VYpQQSFP1nXRVoM5NCA6AohilXEXNEa6/view?usp=sharing">
                  Download </a>
                </div>
              </div>



          </div>
        </div>
    </div>
  </section>
  {% endblock %}
